@model IEnumerable<AMARILLO.Models.Descripcion>


@{
    ViewData["Title"] = "Descripciones";
}
<div class="row">
  <div class="col-md-4">
    <h3 class="titulo">MANTENIMIENTO</h3>
  </div>
</div>


<div class="dropdown p-3 mb-2 bg">

<a asp-area="" asp-controller="Descripcion" asp-action="Formulario">
  		<button type="button" class="btn btn-outline-light" asp-area="" asp-controller="Descripcion" asp-action="Formulario" >
	 		Formulario Celulares - Especificaciones
	  	</button>
</a>


</div>


<div class="texto-info">
     
         <img class="plaga" src="~/images/1.jpg">
		
       
     
</div>








 

 <div class="container">

 @foreach (var item in Model)
	{
	 <a asp-controller="Descripcion" asp-route-id="@item.id" asp-action="Detalle">
	  <button type="submit" class="btn btn-light">
	   <div style="width: 18rem;">
		<img src="@Url.Content(item.adicional)" class="card-img-top center-cropped">
		<div class="card-body">
		 <h5 class="card-tittle" align="center">@Html.DisplayFor(modelItem => item.nombreproducto)</h5>
		 <a asp-action="Edit" asp-route-id="@item.id" align="center"
		  class="btn btn-outline-success"><i class="fas fa-edit"></i></a>
		 <a asp-action="Delete" asp-route-id="@item.id" align="center"
		  class="btn btn-outline-success"><i class="fas fa-trash"></i></a>
		</div>
	   </div>
	  </button>
	 </a>
	}
</div>